!**/bin
**/bin/*
!**/bin/*.apk
.svn
**.DS_Store
.gradle/
build/
scripts/build
scripts/script_output/
script_output/*
output/*
version.txt
api_key_gen/libs
**/proguard/
**/doc
**/docs
**/scripts/script_output
samples/hello_ble/.settings/org.eclipse.jdt.core.prefs
samples/ble_util/.settings/org.eclipse.jdt.core.prefs
*.iml
reports/
.idea/
library/build
library/libs/api*.jar
library/libs/java_utils*.jar
library/script_output/
library/jacoco.exec
local.properties
library/app.iml
sweetblue.iml
rx/jacoco.exec
library/sweetblue-app.iml
captures/